<script type="module" src="../src/main.ts"></script>
<link rel="stylesheet" href="trio/trio.css">

  <div class="block__recommendation {{ divId }}">
    <span class="reco-title">{{title }}</span>
    <div class="products">
      {%- for product in products %}
        <nosto-product product-id="{{ product.productId }}" reco-id="{{resultId }}" class="nosto__product">
          <div class="nosto__product-image">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}" width="300" height="300">
          </div>
          <div class="nosto__product-details--card">
            <div class="nosto__product-name">{{ product.name }}</div>
            <div class="nosto__product-price">EUR {{ product.price }}</div>
            <div class="nosto__product-skus">
              <!-- OOS = 145, 234 -->
              <nosto-sku-options name="colors">
                <span black n-option n-skus="123" n-skus-oos="145" title="L,S,Cotton,Silk,Wool">Black</span>
                <span white n-option n-skus="223,234,245" n-skus-oos="234" title="L,M,S,Cotton,Silk,Wool">White</span>
                <span blue n-option n-skus="334,345" title="M,S,Cotton,Silk">Blue</span>
              </nosto-sku-options>
              <nosto-sku-options name="sizes">
                <span l n-option n-skus="123,223" title="Black,White,Cotton,Silk">L</span>
                <span m n-option n-skus="334" n-skus-oos="234" title="White,Blue,Cotton,Silk">M</span>
                <span s n-option n-skus="245,345" n-skus-oos="145" title="Black,White,Blue,Cotton,Silk,Wool">S</span>
              </nosto-sku-options>
              <nosto-sku-options name="materials">
                <span cotton n-option n-skus="123,345" n-skus-oos="234" title="Black,White,Blue,L,M,S">Cotton</span>
                <span silk n-option n-skus="223,334" n-skus-oos="145" title="Black,White,Blue,L,M,S">Silk</span>
                <span wool n-option n-skus="245" title="White,S">Wool</span>
              </nosto-sku-options>  
            </div>
            <button class="btn__atc" n-atc>Add to cart</button>
          </div>
        </nosto-product>
      {%- endfor %}
    </div>
  </div>

<script>
window.Nosto = {
  addSkuToCart: console.log
}
</script>
