<script type="module" src="main.es.js" defer></script>
<link rel="stylesheet" href="overlay/reco-sku-overlay.css">

{% assign reco_results = recs | reco_data %}

{%- for item in reco_results %}
  <div class="block__recommendation {{ item.div_id }}">
    <span class="reco-title">{{ item.title }}</span>
    <div class="products">
      {%- for product in item.products %}
        <nosto-product product-id="{{ product.product_id }}" reco-id="{{ item.result_id }}" class="nosto__product">
          <div class="nosto__product-image">
            <img src="{{ product.image_url }}" alt="{{ product.name }}" width="300" height="300">
          </div>
          <div class="nosto__product-details--card">
            <div class="nosto__product-name">{{ product.name }}</div>
            <div class="nosto__product-price">EUR {{ product.price }}</div>
            <div class="nosto__product-skus">
              <div id="block__product-{{ product.product_id }}" class="block__product">
                <span class="atc-title">Add to cart</span>
                <div id="block__skus-{{ product.product_id }}" class="block__skus">
                  {% for sku in product.skus %}
                    <span n-atc n-sku-id="{{ sku.id }}">{{ sku.name | split: '/' | last | strip }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </nosto-product>
      {%- endfor %}
    </div>
  </div>
{%- endfor %}
