<script type="module" src="../src/main.ts"></script>
<link rel="stylesheet" href="overlay/reco-sku-overlay.css">

  <div class="block__recommendation {{ divId }}">
    <span class="reco-title">{{ title }}</span>
    <div class="products">
      {%- for product in products %}
        <nosto-product product-id="{{ product.productId }}" reco-id="{{resultId }}" class="nosto__product">
          <div class="nosto__product-image">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}" width="300" height="300">
          </div>
          <div class="nosto__product-details--card">
            <div class="nosto__product-name">{{ product.name }}</div>
            <div class="nosto__product-price">EUR {{ product.price }}</div>
            <div class="nosto__product-skus">
              <div id="block__product-{{ product.productId }}" class="block__product">
                <span class="atc-title">Add to cart</span>
                <div id="block__skus-{{ product.productId }}" class="block__skus">
                  {% for sku in product.skus %}
                    <div n-sku-id="{{ sku.id }}">
                      <span n-atc>{{ sku.name | split: '/' | last | strip }}</span>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </nosto-product>
      {%- endfor %}
    </div>
  </div>
