<script type="module" src="../src/main.ts"></script>
<link rel="stylesheet" href="dual/dual-sku.css">

  <div class="block__recommendation {{ divId }}">
    <span class="reco-title">{{ title }}</span>
    <div class="products">
      {%- for product in products %}
        <nosto-product product-id="{{ product.productId }}" reco-id="{{ resultId }}" class="nosto__product">
          <div class="nosto__product-image">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}" width="300" height="300">
          </div>
          <div class="nosto__product-details--card">
            <div class="nosto__product-name">{{ product.name }}</div>
            <div class="nosto__product-price">EUR {{ product.price }}</div>
            <div class="nosto__product-skus">
              <nosto-sku-options name="colors">
                <select>
                  <option>Unselected</option>
                  <option value="black" n-skus="123,145">Black</option>
                  <option value="white" n-skus="223,234,245">White</option>
                  <option value="blue" n-skus="334,345">Blue</option>
                </select>
              </nosto-sku-options>
              <nosto-sku-options name="sizes">
                <select>
                  <option>Unselected</option>
                  <option value="l" n-skus="123,223">L</option>
                  <option value="m" n-skus="234,334">M</option>
                  <option value="s" n-skus="145,245,345">S</option>
                </select>
              </nosto-sku-options>
            </div>
            <button class="btn__atc" n-atc>Add to cart</button>
          </div>
        </nosto-product>
      {%- endfor %}
    </div>
  </div>
