<script type="module" src="../src/main.ts"></script>
<link rel="stylesheet" href="dual/dual-sku.css">

  <div class="block__recommendation {{ divId }}">
    <span class="reco-title">{{ title }}</span>
    <div class="products">
      {%- for product in products %}
        <nosto-product product-id="{{ product.productId }}" reco-id="{{ resultId }}" class="nosto__product">
          <div class="nosto__product-image">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}" width="300" height="300">
          </div>
          <div class="nosto__product-details--card">
            <div class="nosto__product-name">{{ product.name }}</div>
            <div class="nosto__product-price" n-price>EUR {{ product.price }}</div>
            <div class="nosto__product-skus">
              <nosto-sku-options name="colors">
                <span n-option n-skus="123,145" selected>Black</span>
                <span n-option n-skus="223,234,245">White</span>
                <span n-option n-skus="334,345">Blue</span>
              </nosto-sku-options>
              <nosto-sku-options name="sizes">
                <span n-option n-skus="123,223">L</span>
                <span n-option n-skus="234,334">M</span>
                <span n-option n-skus="145,245,345">S</span>
              </nosto-sku-options>
            </div>
            <button class="btn__atc" n-atc>Add to cart</button>
          </div>
          <script type="application/json" n-sku-data>
          [
            { "id": "123", "price": "EUR 20" }, 
            { "id": "223", "price": "EUR 20" },
            { "id": "234", "price": "EUR 15" },
            { "id": "334", "price": "EUR 15" },
            { "id": "145", "price": "EUR 10" },
            { "id": "245", "price": "EUR 10" },
            { "id": "345", "price": "EUR 10" }
          ]
          </script>
        </nosto-product>
      {%- endfor %}
    </div>
  </div>
